---
layout: page
title: Stock Market Learnings
description: Stock Market Learnings is where I share the knowledge I learned in Stock Trading. I am not a stock trader expert yet, but just like almost everyone, we want to keep on learning. You know as they say, "Teachers know that the best thing about teaching is learning."
---
{% for post in site.categories.stock-market-learnings %}
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
{% endfor %}
